<section class="main-banner" id="home">
    <div class="header-top-w3layouts text-right">
        <ul id="menu">
            <li>
                <input id="check02" type="checkbox" name="menu" />
                <label for="check02"><span class="fa fa-bars" aria-hidden="true"></span></label>
                <ul class="submenu">
                    <!--<li><a href="index.html">Home</a></li>-->
                    <li><a routerLink="" class="scroll">About</a></li>
                    <li><a routerLink="team" class="scroll">Team</a></li>
                    <li><a routerLink="service" class="scroll">Services</a></li>
                    <li><a routerLink="gallery" class="scroll">Gallery</a></li>
                    <li><a routerLink="testimonials" class="scroll">Testimonials</a></li>
                    <li><a routerLink="contact">Contact</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="baner-info-w3ls text-left">
            <h1>Exert Design</h1>
            <h6 class="mx-auto mt-4">Porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est</h6>
            <a class="btn btn-primary mt-lg-5 mt-3 agile-link-bnr scroll" routerLink="about" role="button">Learn More</a>
            <div class="banner-high-lights text-left">
                <div class="rotate">
                    <a routerLink="about" class="scroll">
                           <span class="fa fa-long-arrow-down"></span>                 
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
