    <!--//team -->
    <section class="team-main-sec py-lg-5 py-4" id="team">
        <div class="container">
            <div class="inner-sec-wthree py-lg-5 py-4 speak">
                <div class="text-center">
                    <h3 class="tittle_head">Integer porttitor mollisar </h3>
                    <p class="main_p mt-4 mb-4 pt-2 text-center mx-auto">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum </p>
                </div>
                <div class="row mt-lg-5 mt-4">
                    <div class="col-md-4 team-gd-info text-center">
                        <div class="team-gd">
                            <div class="team-img mb-4">
                                <img src="assets/images/team.jpg" class="img-fluid rounded-circle" alt="user-image">
                            </div>
                            <div class="team-info">
                                <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Designer</span> Jason Donoghue</h3>
                                <p>Lorem Ipsum has been the industry's standard since the 1500s.</p>
                                <ul class="team_social_info mt-md-4 mt-3">
                                    <li class="mb-2 facebook"><a href="#"><i class="fa fa-facebook mr-1"></i>facebook</a></li>
                                    <li class="mb-2 twitter"><a href="#"><i class="fa fa-twitter mr-1"></i>twitter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 team-gd-info text-center">
                        <div class="team-gd">
                            <div class="team-img mb-4">
                                <img src="assets/images/team1.jpg" class="img-fluid rounded-circle" alt="user-image">
                            </div>
                            <div class="team-info">
                                <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Designer</span> Mariana Noe</h3>
                                <p>Lorem Ipsum has been the industry's standard since the 1500s.</p>
                                <ul class="team_social_info mt-md-4 mt-3">
                                    <li class="mb-2 google"><a href="#"><i class="fa fa-google-plus mr-1"></i>google</a></li>
                                    <li class="mb-2 linkedin"><a href="#"><i class="fa fa-linkedin mr-1"></i>linkedin</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 team-gd-info text-center">
                        <div class="team-gd text-center">
                            <div class="team-img mb-4">
                                <img src="assets/images/team2.jpg" class="img-fluid rounded-circle" alt="user-image">
                            </div>
                            <div class="team-info">
                                <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Designer</span> Daniel Doe</h3>
                                <p>Lorem Ipsum has been the industry's standard since the 1500s.</p>
                                <ul class="team_social_info mt-md-4 mt-3">
                                    <li class="mb-2 facebook"><a href="#"><i class="fa fa-facebook mr-1"></i>facebook</a></li>
                                    <li class="mb-2 twitter"><a href="#"><i class="fa fa-twitter mr-1"></i>twitter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//team -->
