    <!--testimonials-->
    <section class="testimonials py-5" id="testimonials">
        <div class="container">
            <div class="inner-sec-wthree py-lg-5 py-4">
                <div class="text-center">
                    <h3 class="tittle_head">Integer porttitor mollisar </h3>
                    <p class="main_p mt-4 mb-4 pt-2 text-center mx-auto">Nulla pellentesque mi non laoreet eleifend. Integer porttitor mollisar lorem, at molestie arcu pulvinar ut. Proin ac fermentum est. Cras mi ipsum, consectetur ac ipsum </p>
                </div>
                <div class="row mt-lg-5 mt-4">

                    <div class="col-lg-6 test-grid text-left">
                        <div class="row">

                            <div class="col-md-4 test-img">
                                <img src="assets/images/team1.jpg" class="img-fluid" alt="user-image">
                            </div>
                            <div class="col-md-8 test-info">
                                <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Sub Title</span> Mariana Noe</h3>
                                <p>Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.</p>
                                <ul class="social_section_1info team-soc mt-4">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 test-grid text-left">
                        <div class="row">

                            <div class="col-md-4 test-img">
                                <img src="assets/images/team2.jpg" class="img-fluid" alt="user-image">
                            </div>
                            <div class="col-md-8 test-info">
                                <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Sub Title</span> Mariana Noe</h3>
                                <p>Lorem Ipsum has been the industry's standard since the 1500s. Praesent ullamcorper dui turpis.</p>
                                <ul class="social_section_1info team-soc mt-4">
                                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
